@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.line-animate {
    position: relative;
    display: inline-block;
}

.line-animate::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 4px;
    width: 100%;
    background: linear-gradient(90deg,#38bdf8,#6366f1);
    border-radius: 999px;

    transform: scaleX(0);
    transform-origin: left;
    animation: lineReveal 1s ease forwards;
    animation-delay: .8s;
}

@keyframes lineReveal {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

